@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-gray-400 hover:bg-green-600 dark:bg-gray-800 
  text-green-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }

}


.custom-button{
  @apply bg-gray-200  hover:bg-green-600 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-md
    mx-2
    text-green-500 hover:text-white
    font-bold
    transition-all duration-300 ease-linear
    cursor-pointer lg:shadow-lg
    p-4
    flex
    flex-row
    justify-items-center
    items-center
    
    
    
}





/******Projects*****/



.projectCard{
  @apply bg-white hover:bg-gray-200
   h-64 w-96 
   border border-gray-200 
   justify-items-center
   items-center
   p-4
   rounded-md hover:rounded-xl rounded-3xl
   transition-all duration-300 ease-linear
   cursor-pointer shadow-lg
   outline-2
   flex-1
   relative
  
}

.badge{
  @apply bg-white
  border border-gray-200 
  rounded-md
  py-1
  m-1
  text-xs
  text-center
  w-fit
  px-3
  


}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}
